ion-header {
	ion-toolbar {
		--min-height: 100px;
		ion-title {
			padding-top: 36px;
			align-items: flex-end;
			img {
				width: 38px;
				vertical-align: middle;
				margin-right: 10px;
			}
			span {
				font-size: 18px;
			}
			ion-button {
				display: block;
				width: 60px;
				margin: 10px auto;
				--box-shadow:none;
			}
		}
	}
}

ion-content {
	.background {
		opacity: 0;
		position: fixed;
		width: 100%;

		.bank-information {
			.qrcode {
				width: 100px;
				margin: 16px auto;
				display: block;
			}
			span {
				display: block;
				margin: 5px 0;
				font-size: 14px;
			}
		}
		ion-list {
			margin-top: 32px;
			background: transparent;
			ion-item {
				color: #fff;
				--background: transparent;
				--detail-icon-opacity: 1;
				&:first-of-type {
					border-top: 0.55px solid rgba(255, 255, 255, 0.7);
				}
			}
		}

		.btn-logout {
			--border-width: 1px;
			margin-top: 16px;
		}
	}

	.blocks {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		z-index: 999;

		&.fixed {
			position: fixed;
			top: 190px;
			overflow-y: hidden;
		}

		.credit-card {
			.credit-card-content {
				span {
					&.credit-card-title {
						color: #0ab9cd;
					}
					&.credit-card-amount {
						font-size: 28px;
						display: block;
						color: #0ab9cd;
					}
					&.credit-card-limit {
						color: #94c22b;
					}
				}
			}
			.purchase-item {
				background: #f4f5f8;
			}
		}

		.account-card {
			.account-card-content {
				span {
					&.account-card-amount {
						font-size: 28px;
						display: block;
					}
				}
			}
			.payments-item {
				background: #f4f5f8;
			}
		}

		.rewards-card {
			.rewards-card-title {
				font-size: 20px;
			}
			.rewards-card-icon {
				font-size: 30px;
			}
		}
	}
}

ion-footer {
	&.hidden-footer {
		height: 0;

		ion-slides {
			opacity: 0;
		}
	}
	ion-slide {
		.container-slide {
			width: 100%;
			height: 100px;
			background: var(--ion-color-primary-tint);
			padding: 10px;
			margin: 0 5px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		ion-icon {
			font-size: 24px;
		}
		span {
			font-size: 16px;
		}
	}
}

.opacity-transition {
	transition: opacity 0.5s ease-in-out;
}
